<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script src="../src/memory.js" charset="utf-8"></script>
  <head>
    <link rel="stylesheet" href="../style/skeleton.css">
    <link rel="stylesheet" href="../style/main.css">

    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/animate.min.css">
    <link rel="stylesheet" href="../style/upcoming.css">
    <link rel="stylesheet" href="../style/sessions.css">
    <link rel="stylesheet" href="../chartScript.js">

    <meta charset="utf-8">
    <title></title>

  </head>
  <body class= "animated fadeIn slow center">
    <div class="main-frame">
      <div class="top-bar">
        <div class="user">
          <!--user-->
          <h1>Welcome, <span id = "changeText" class="innerText" >Username</span> </h1>
        </div>
        <div class="buttons">
          <!-- sys preference -->
          <button type="button" name="button" class="button">Mini Mode</button>
          <button type="button" name="button" class="button">Settings</button>
        </div>
      </div>
       <div class="main-div">
        <div class="left">
          <div id = "drag" class="todo-list">
            <!--generic wireframe for a todo-->

          </div>
          <div class="control-buttons">
            <button id = "button" type="button" name="button" class="button">Add Item</button>
          </div>
          <div class= "button upcoming">
            <h6>//TODO</h6>
          </div>
        </div>
        <div class="right">
          <div class="button sessions">
            <div class="button left-flex">

            </div>
            <div class="button right-flex">
               <div class="timer-text">
                 <h3 id = "timer">00:00:00</h3>
               </div>
               <div class="current-Session center-text left-button">
                 <h6>No active session.</h6>
               </div>
               <div class="stacks">
                 <div class="button left-button">
                   <div class="center-text">
                     <h6>New</h6>
                   </div>
                 </div>
                 <div class="button right-button">
                   <div class="center-text">
                     <h6>Stop</h6>
                   </div>
                 </div>
               </div>
            </div>
          </div>
          <div class="button graph">
            <canvas id="myChart" width="590" height="320"></canvas>

          </div>

        </div>
      </div>
    </div>

  </body>
  <script src="../src/sessionTime.js" charset="utf-8"></script>
  <script src="../src/chartScript.js" charset="utf-8"></script>
  <script src="../src/reminderFetch.js" charset="utf-8"></script>
  <script src="../src/reminders.js" charset="utf-8"></script>

  <script type="text/javascript">
      //simple script to fill in Username.
     const elem = document.getElementById('changeText');
    elem.innerText = memory.get('userName');

    //just a test.
    const Sortable = require('sortablejs');
    var sortable = Sortable.create(drag, {
      animation: 150,
    });
  </script>
</html>
